.list-img{
    background-image: url('https://media.istockphoto.com/id/963093176/photo/silver-background-white-texture-light-color-foil-glitter-sparkle-shiny-metal-wall-dust-paper.jpg?s=612x612&w=0&k=20&c=DYndXEXcZGW1xM9OzPCTvFnl9qN88MgNHVPNdTsKJLk=');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
   
}